.Home{
    height: 100%;
}

.Home .bgimg1 {
    /* Create the parallax scrolling effect */
    background-image: url("../../static/wallpapers/IMG_20200925_200448.jpg");
    position: relative;
    min-height: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home .bgimg1 .caption1 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.Home .bgimg1 .caption1 span.border {
    background-color: #111111;
    color: #ffffff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 12px;
    font-family: 'Stint Ultra Condensed', cursive;
}

.Home .bgimg2 {
    /* Create the parallax scrolling effect */
    background-image: url("../../static/wallpapers/IMG_20201116_113808.jpg");
    position: relative;
    min-height: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home .bgimg2 .caption2 {
    background-color:#ffffff;
    color: #97572b;
    font-size: 36px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    text-align: center;
}

.Home .bgimg3 {
    /* Create the parallax scrolling effect */
    background-image: url("../../static/wallpapers/IMG_20201216_170030.jpg");
    position: relative;
    min-height: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home .bgimg3 .caption3 {
    background-color:#8888ff;
    color: #111111;
    font-size: 36px;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.Home .bgimg1 .caption4 {
    background-color:#6beeff;
    color: #fdff83;
    font-size: 36px;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}