.Home{
    height: 100%;
}

.Home .bgimg1 {
    /* Create the parallax scrolling effect */
    background-image: url("../../static/wallpapers/IMG-20210425-WA0001.jpg");
    position: relative;
    min-height: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home .bgimg1 .caption1 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}


.Home .bgimg2 {
    /* Create the parallax scrolling effect */
    background-image: url("../../static/wallpapers/IMG_20201116_113819.jpg");
    position: relative;
    min-height: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.Home .bgimg3 {
    /* Create the parallax scrolling effect */
    background-image: url("../../static/wallpapers/IMG_20190516_174951.jpg");
    position: relative;
    min-height: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home .bgimg4 {
    /* Create the parallax scrolling effect */
    background-image: url("../../static/wallpapers/IMG_20210425_104015.jpg");
    position: relative;
    min-height: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
