.Home{
    height: 100%;
}

.Home .bgimg1 {
    /* Create the parallax scrolling effect */
    background-image: url("../../static/wallpapers/IMG-20210425-WA0001.jpg");
    position: relative;
    min-height: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home .bgimg1 .caption1 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.Home .bgimg1 .caption1 .border{
    color: #ffffff;
    padding: 18px;
}

.Home .bgimg1 .caption1 .border span{
    background-color: #111111;
    color: #ffffff;
    padding: 18px;
    font-size: 36px;
    letter-spacing: 12px;
    font-family: 'Stint Ultra Condensed', cursive;
}

.Home .bgimg1 .caption1 .border2{
    color: #ffffff;
    padding: 18px;
}

.Home .bgimg1 .caption1 .border2 span{
    background-color: #111111;
    color: #ffffff;
    padding: 8px;
    font-size: 15px;
    letter-spacing: 7px;
    font-family: 'Stint Ultra Condensed', cursive;
}

.Home .bgimg2 {
    /* Create the parallax scrolling effect */
    background-image: url("../../static/wallpapers/IMG_20201116_113819.jpg");
    position: relative;
    min-height: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home .bgimg2 .caption2 .paraMU{
    background-color:#ffffff;
    color: #97572b;
    font-size: 36px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    text-align: center;
    white-space: pre-wrap;
}

.Home .bgimg2 .caption2 .paraSD{
    background-color:#ffffff;
    color: #97572b;
    font-size: 20px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    text-align: center;
    white-space: pre-wrap;
    padding-left: 50px;
    padding-right: 50px;
}

.Home .bgimg3 {
    /* Create the parallax scrolling effect */
    background-image: url("../../static/wallpapers/IMG_20190516_174951.jpg");
    position: relative;
    min-height: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home .bgimg3 .caption3 .paraMU {
    background-color:#ffffff;
    color: #97572b;
    font-size: 36px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    text-align: center;
}

.Home .bgimg3 .caption3 .paraSD {
    background-color:#ffffff;
    color: #97572b;
    font-size: 20px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    text-align: center;
}

.Home .bgimg4 {
    /* Create the parallax scrolling effect */
    background-image: url("../../static/wallpapers/IMG_20210425_104015.jpg");
    position: relative;
    min-height: 100% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
