.Tech {
    height: 100%;
}

.xfer {
    color: #000;
    font-size: 25px;
    font-family: 'Chakra Petch', sans-serif;
    height: 100%;
    display: inline !important;
}

.xfer1 {
    position: absolute;
    width: 50%;
    height: 100%;
    border: none;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px;
    cursor: pointer;
    background-color: #04AA6D !important;
    box-sizing: border-box;
}

.xfer2 {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    border: none;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px;
    cursor: pointer;
    background-color: #ffe600 !important;
}

.xfer1:hover {
    width: 100%;
    transition: 1s;
    background-color: #00633f !important;
    z-index:+1;
}

.xfer2:hover {
    left: 0;
    width: 100%;
    transition: 1s;
    background-color: #a79600 !important;
    z-index:+1;
}

.xfer1-small {
    position: absolute;
    width: 100%;
    height: 50%;
    border: none;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px;
    cursor: pointer;
    background-color: #04AA6D !important;
    box-sizing: border-box;
}

.xfer2-small {
    position: absolute;
    width: 100%;
    top: 50%;
    height: 50%;
    border: none;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px;
    cursor: pointer;
    background-color: #ffe600 !important;
}

.xfer1-small:hover {
    height: 100%;
    transition: 1s;
    background-color: #00633f !important;
    z-index:+1;
}

.xfer2-small:hover {
    top: 63px; /*header is 13px (padding-top) + 50px (padding-bottom)*/
    height: 100%;
    transition: 1s;
    background-color: #a79600 !important;
    z-index:+1;
}